* {
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	text-align: center;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	background: rgb(239, 239, 239);
	color: rgb(0, 0, 0);
}

.unselectable {
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.title-big {
	background-color: rgb(61, 61, 61);
}

.title-big-error {
	background-color: rgb(244, 37, 0);
}

.title-big, .title-big-error {
	color: white;
	padding: 20px 30px;
	margin: 0 0 34px 0;
	font-size: 1.5em;
	font-weight: bolder;
}

.floating-box-container {
	text-align: center;
}

.floating-box {
	display: inline-block;
	background: rgb(255, 255, 255);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
	padding-left: 20px;
	padding-right: 20px;
}

#floating-box-top {
	margin: 10px 10px 5px 10px;
	font-size: 22px;
}

#floating-box-main {
	padding: 0 0 5px 0;
	margin: 43px 50px 5px 10px;
}

/* buttons */
.list-of-links {
	font-weight: bold;
	text-align: left;
}

.buttonWrapper {
	margin: 0 20px 10px 20px;
}

.buttonWrapper > input {
	padding-left: 20px;
	padding-right: 20px;
}

.gradientButton-grey, .gradientButton-blue, .gradientButton-green {
	color: #ffffff;
	width: 100%;
	height: 35px;
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 2px;
	font-size: 18px;
	appearance: none;
	box-shadow: none;
	border: none;
	border-radius: 2px;
}

.gradientButton-grey {
	background: rgb(100, 100, 100);
	background-image: -webkit-linear-gradient(top, rgb(180, 180, 180), rgb(125, 125, 125));
}

.gradientButton-blue {
	background-color: rgb(100, 150, 200);
	background-image: -webkit-linear-gradient(top, rgb(100, 150, 200), rgb(52, 99, 146));
}

.gradientButton-green {
	background-color: rgb(111, 200, 100);
	background-image: -webkit-linear-gradient(top, rgb(110, 200, 100), rgb(61, 145, 51));
}

.gradientButton-grey:hover, .gradientButton-green:hover, .gradientButton-blue:hover {
	box-shadow: 0 2px 3px 1px rgb(150, 150, 150);
}

.gradientButton-grey:hover {
	background: rgb(100, 100, 100);
	background-image: -webkit-linear-gradient(top, rgb(190, 190, 190), rgb(135, 135, 135));
}

.gradientButton-blue:hover {
	background: rgb(90, 140, 190);
	background-image: -webkit-linear-gradient(top, rgb(90, 140, 190), rgb(42, 89, 136));
}

.gradientButton-green:hover {
	background: rgb(101, 190, 90);
	background-image: -webkit-linear-gradient(top, rgb(100, 190, 90), rgb(51, 135, 41));
}

.gradientButton-grey:active, .gradientButton-grey:focus {
	color: rgb(210, 210, 210);
	background-image: -webkit-linear-gradient(top, rgb(190, 190, 190), rgb(115, 115, 115));
}

.gradientButton-blue:active, .gradientButton-blue:focus {
	color: rgb(240, 240, 240);
	background-image: -webkit-linear-gradient(top, rgb(90, 140, 190), rgb(22, 79, 116));
}

.gradientButton-green:active, .gradientButton-green:focus {
	color: rgb(239, 239, 239);
	background-image: -webkit-linear-gradient(top, rgb(100, 190, 90), rgb(31, 115, 21));
}

.gradientButton-grey:focus, .gradientButton-blue:focus, .gradientButton-green:focus {
	outline: none;
}