<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Sectors API</title>
    <link rel="shortcut icon" href="../favicon.ico"/>
    <link rel="stylesheet" href="../main.css"/>
    <script type="text/javascript" src="../main.js"></script>
</head>
<body>
<div class="floating-box-container">
    <div id="floating-box-main" class="floating-box">
        <header>
            <p class="unselectable title-big-error">Error 404, page not found!</p>
        </header>
        <div class="buttonWrapper">
            <input class="gradientButton gradientButton-green" type="submit" value="Back to homepage"
                   onclick="location.href='/'">
        </div>
    </div>
</div>
</body>
</html>