<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Sectors API</title>
	<link rel="shortcut icon" href="../favicon.ico"/>
	<link rel="stylesheet" href="../main.css"/>
	<script type="text/javascript" src="../main.js"></script>
</head>
<body>
<div class="floating-box-container">
	<div id="floating-box-main" class="floating-box">
		<header>
			<p class="unselectable title-big">Sectors API</p>
		</header>
		<div class="buttonWrapper">
			<input class="gradientButton-green" type="submit" value="OpenAPI definition"
			       onclick="location.href='/swagger-ui.html'">
		</div>
		<div class="buttonWrapper">
			<input class="gradientButton-green" type="submit" value="Find all sectors"
			       onclick="location.href='/api/sectors'">
		</div>
		<div class="buttonWrapper">
			<input class="gradientButton-green" type="submit" value="View current session data" onclick="location.href='/api/session'">
		</div>
		<div class="buttonWrapper">
			<input class="gradientButton-green" type="submit" value="View all visitors (temporarily for debugging)" onclick="location.href='/api/visitors'">
		</div>
		<div class="buttonWrapper">
			<input class="gradientButton-blue" type="submit" value="API docs" onclick="location.href='/v3/api-docs'">
		</div>
		<div class="buttonWrapper">
			<input class="gradientButton-blue" type="submit" value="Swagger config"
			       onclick="location.href='/v3/api-docs/swagger-config'">
		</div>
	</div>
</div>
</body>
</html>